body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

header input[type="text"] {
  max-width: 400px;
}

footer {
  font-size: 0.9rem;
}

.list-group-item {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.list-group-item:hover {
  background-color: #fff3cd;
  transform: scale(1.02);
}

/* Imagens dos produtos */
.produto-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

/* Botões */
.btn-warning {
  background-color: #ff6600;
  border: none;
}
.btn-warning:hover {
  background-color: #e65c00;
}
